[data-md-color-scheme="blinded"] {
  --md-primary-fg-color:        #ED1B2F;
  --md-code-hl-number-color:    #ED1B2F;
  --md-accent-fg-color:         #ED1B2F;
  --md-primary-fg-color--light: #ED1B2F;
  --md-primary-fg-color--dark:  #ED1B2F;
}
